@define-color foreground #cdd6f4;
@define-color background #1a1b26;

* {
  border: none;
  border-radius: 0;
  font-family: 'DepartureMono Nerd Font';
  font-size: 13px;
  min-height: 0;
  text-shadow: none;
  box-shadow: none;
}

window#waybar {
  background-color: @background;
  color: #ffffff;
  border-bottom: 1px solid #333333;
}

#workspaces {
  padding: 0;
  margin: 0 3px;
}

#workspaces button {
  /* Increased the first number (top) to push text down */
  /* padding: top right bottom left */
  padding: 2px 4px 0px 4px; 
  margin: 0 2px;
  background-color: transparent;
  color: #ffffff; 
  font-weight: normal;
  border-radius: 0;
  border-bottom: 2px solid #ffffff; 
  transition: none;
}

#workspaces button.empty {
  color: #666666; 
  background-color: transparent;
  border-bottom: 2px solid transparent; 
}

#workspaces button.active {
  background-color: #ffffff;
  color: #000000;
  border-bottom: 2px solid #ffffff; 
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: #eb6f6f;
  color: #000000;
  border-bottom: 2px solid #eb6f6f;
}

#workspaces button:hover {
  background-color: #333333;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

#backlight, #custom-weather, #mpris,
#network, #bluetooth, #pulseaudio,
#custom-omarchy, #custom-update, #clock, #tray {
  padding: 0 6px;
  background-color: transparent;
  color: #ffffff; 
}

#cpu, #memory {
  padding: 0 6px;
  background-color: transparent;
  color: #98c379;
}

#battery {
  padding: 0 10px 0 6px;
  background-color: transparent;
  color: #98c379;
}

#custom-separator {
  color: #444444;
  padding: 0 2px;
}

#cpu.warning, #memory.warning, #battery.warning {
  color: #e5c07b;
}

#cpu.critical, #memory.critical, #battery.critical:not(.charging) {
  color: #e06c75;
}

#battery.charging, #battery.plugged {
  color: #98c379; 
}

tooltip {
  background: @background;
  border: 1px solid #ffffff;
  border-radius: 0px; 
}

tooltip label {
  color: #ffffff;
}

#custom-omarchy {
  padding: 0 4px 0 8px; /* bruh this sucks */
  font-weight: bold;
}

@keyframes blink {
    to { background-color: #ffffff; color: #000000; }
}
